{% extends 'base.html.twig' %}

{% block title %}Mes membres
{% endblock %}

{% block body %}
	<h1>Mes membres</h1>

	<div class="row">
		{% if members %}
			{% for member in members %}
				<div class="col-6 col-md-4 mt-2">
					<div class="card mb-3 h-100 bg-light">
						<div class="card-header">
							{{ member.firstName }}
							{{ member.lastName }}
						</div>

						<div class="card-body">
							<h5 class="card-title text-center">
								<i class="fas fa-user fa-3x"></i>
							</h5>
							<div class="d-flex flex-row-reverse">
								<a href="{{ path('member_add', {'id': member.id }) }}" class="btn btn-primary mt-2 m-auto">Modifier les informations</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<div class="col-12 col-md-4 mt-2">
			<a href="{{ path('member_add') }}">
				<div class="card mb-3 h-100">
					<div class="card-body btn btn-primary">
						<h3>Ajouter un membre</h3>
						<br>
						<i class="fas fa-plus fa-2x"></i>
					</div>
				</div>
			</a>

		</div>
	{% endblock %}
