<div class="col-md-4">
	<div class="card mt-3 bg-light">
		<div class="card-header">
			Adhésion
		</div>
		<div class="card-body">
			<h5 class="card-title text-center">
				<i class="fas fa-file-signature fa-3x"></i>
			</h5>
			<p class="card-text text-center">
				<a href="{{path('enrollment')}}" class="btn btn-primary">Gérer mes adhésions</a>
			</p>
		</div>
	</div>
</div>
