{% extends "@EasyAdmin/layout.html.twig" %}

{% block title %}
	Administration - Iron Club
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1>Administration</h1>
		<p class="lead">...</p>
	</div>
{% endblock %}
