{% extends 'base.html.twig' %}

{% block title %}Courses
{% endblock %}

{% block body %}
	<h1>Courses</h1>
	<a href="#" class="btn btn-info">
		<i class="fas fa-plus"></i>
		Ajouter une course</a>
	<div class="row">
		<div class="col-9">
			<h2>Les courses à venir :
			</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Evènement</th>
						<th>Lieu</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>16/11/2021</td>
						<td>Anniversaire de Bastien</td>
						<td>Altkirch</td>
						<td>
							<a href="#" class="btn btn-primary">Voir</a>
						</td>
					</tr>
				</tbody>
			</th>
		</thead>
	</th>
</thead></table></div><div class="col-3">Autre chose</div></div></div>{% endblock %}
