Votre adresse email n'a pas été validée. Pour utiliser toutes les fonctionnailtés du site, utilisez le lien envoyé ou
<a href="{{ path('registration_email', {'id': user.id} )}}">renvoyer un email.</a>
