{% extends 'base.html.twig' %}

{% block title %}Entrainement
{% endblock %}

{% block body %}
	<a href="{{ path('training') }}" class="btn btn-link">
		<i class="fas fa-chevron-left"></i>
		Retour</a>
	<h1>Entrainement du
		{{training.date | date('d/m/Y')}}
		:</h1>
	<span class="badge bg-primary">{{training.sport.name}}</span>
	<div class="row mt-2">
		<div class="col-12">
			{{training.content | raw}}

		</div>
	</div>

{% endblock %}
